
// variables
$color-gray-dark: #141820;
$color-gray-dark2: #2d3748;
$color-gray-dark3: #4a5568;

$text-color-primary: #ffffff;
$text-color-secondary: #e2e8f1;

$color-white: #fff;

$color-blue: #337eb9;
$color-green: #48bb78;
$color-pink: #ec9090;
$color-orange: #e53e3e;
$color-yellow: #e8e272;