@import "../sass/abstracts/variables";

@import "../sass/components/presentation";
@import "../sass/components/work";
@import "../sass/components/contact";
@import "../sass//components/navigation";

html {
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: 700px) {
    font-size: 50%;
  }
}
body {
  color: white;
  background: $color-gray-dark;
  margin: 0;
}

main {
  display: block;
}

body.light-mode {
  background-color: white;
  color: $color-gray-dark;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: gray;
  -webkit-box-shadow: 0 0 0px 1000px #272e3c inset;
  transition: background-color 5000s ease-in-out 0s;
}

footer {

  .tnc {
    margin-top: 9rem;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
  }
}
