.about {
    min-height: 100vh;
    background: $color-gray-dark2;
    transform: skewY(-7deg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 6rem;
    position: relative;

    & > * {
        transform: skewY(7deg);
    }

    &-content {
        width: 74rem;

        .stack {
            margin: 5rem 0;

            &-title {
                font-size: 2rem
            }

            &-item {
                margin: 2.5rem 0;
            
                .stack-group {
                    color: $text-color-secondary;
                }

                .stack-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-left: -1rem;

                    .tech {
                        &-item {
                            width: 8rem;
                            height: 8rem;
                            background-color: transparent;
                            border-radius: 4px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-direction: column;
                            padding: 1rem;
                            box-sizing: border-box;
                            transition: all 0.3s ease-out;

                            &:hover {
                                transform: scale(1.3);
                            }
                            
                            svg {
                                width: 3rem;
                                fill: white;
                            }

                            span {
                                text-align: center;
                                margin-top: 1rem;
                            }

                            &--cypress {
                                svg {
                                    width: 7rem;
                                    margin-bottom: 1rem;
                                }
                            }

                            &--express {

                                svg {
                                    height: 3rem;
                                }
                            }
                        
                        }
                    }
                }
            }

            &-group {
                font-size: 1.5rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid white;
            }

        }
    }

    .description {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 700px) {
            flex-direction: column-reverse;
        }

        &-text {
            font-size: 2rem;
            display: inline-block;
            width: 50%;
            line-height: 1.5;
            color: $text-color-secondary;
            @media only screen and (max-width: 700px) {
                width: 100%;
                text-align: center;
            }
        }


        &-image {
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            margin: auto;
            position: relative;
            img {
                border-radius: 50%;
                filter: grayscale(.5);

                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }

}