.presentation {
    height: calc(100vh - 120px);
    padding: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &-container {
        width: 74rem;
        z-index: 10;
    }
    
    &-name {
        font-size: 8rem;
        font-weight: 700;
        color: $text-color-primary;
        margin: 2rem 0;
    }

    &-position {
        font-size: 3rem;
        font-weight: 400;
        color: $text-color-secondary;
        margin: 1rem 0;
    };

    .figuresBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        .circle {
            
            &-1 {
                width: 3rem;
                position: absolute;
                top: 30%;
                left: 30%;
                fill: $color-gray-dark3;

                @media only screen and (max-width: 350px) {
                    display: none;
                }
            }

            &-2 {
                width: 5rem;
                position: absolute;
                top: 65%;
                left: 45%;
                fill: $color-gray-dark3;

                @media only screen and (max-width: 700px) {
                    display: none;
                }
            }

            &-3 {
                width: 5rem;
                position: absolute;
                top: 5%;
                left: 70%;
                fill: $color-gray-dark3;
            }
            
        }

        .charx {

            &-1 {
                width: 3rem;
                position: absolute;
                top: 60%;
                left: 55%;
                fill: $color-yellow;
    
                @media only screen and (max-width: 700px) {
                    display: none;
                }
            }

            &-2 {
                width: 5rem;
                position: absolute;
                top: 75%;
                left: 25%;
                fill: $color-pink;

                @media only screen and (max-width: 700px) {
                    display: none;
                }
            }
            
        }

        .hexagon-1 {
            width: 3rem;
            position: absolute;
            top: 30%;
            left: 80%;
            fill: none;
            stroke: $color-orange;
        }

        .square {

            &-1 {
                width: 6rem;
                position: absolute;
                top: 20%;
                left: 12%;
                fill: $color-blue;

                @media only screen and (max-width: 700px) {
                    display: none;
                }
            }

            &-2 {
                width: 4rem;
                position: absolute;
                top: 40%;
                left: 70%;
                fill: $color-gray-dark3;
            }
            
        }

        .tree-1 {
            width: 3rem;
            position: absolute;
            top: 10%;
            left: 90%;
            fill: $color-green;
        }

        .triangle {

            &-1 {
                width: 3rem;
                position: absolute;
                top: 25%;
                left: 95%;
                fill: none;
                stroke: $color-gray-dark3;
            }
        }

        .animatedBg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation: 8s ease-in-out 0s infinite alternate none running UpAndDown;

            .circle-4 {
                width: 6rem;
                position: absolute;
                top: 75%;
                left: 60%;
                fill: $color-yellow;
            }

            .hexagon-2 {
                width: 15rem;
                position: absolute;
                top: 60%;
                left: 10%;
                fill: none;
                stroke: $color-orange;


                @media only screen and (max-width: 700px) {
                    top: 65%;
                }

                @media only screen and (max-width: 320px) {
                    top: 70%;
                }
            }

            .triangle-2 {
                width: 6rem;
                position: absolute;
                top: 5%;
                left: 20%;
                fill: none;
                stroke: $color-pink;
            }
        }

        .animatedBgSlow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation: 12s ease-in-out 0s infinite alternate none running UpAndDown;
        
            .tree-2 {
                width: 15rem;
                position: absolute;
                top: 50%;
                left: 92%;
                fill: $color-blue;
            }

            .square-3 {
                width: 4rem;
                position: absolute;
                top: 10%;
                left: 40%;
                fill: $color-gray-dark3;
            }

            .circle {

                &-5 {
                    width: 15rem;
                    position: absolute;
                    top: 35%;
                    left: -5%;
                    fill: $color-green;

                    @media only screen and (max-width: 700px) {
                        top: 25%;
                        left: -20%;
                    }

                    @media only screen and (max-width: 320px) {
                        top: 25%;
                        left: -25%;
                    }
                }

                &-6 {
                    width: 5rem;
                    position: absolute;
                    top: 75%;
                    left: 80%;
                    fill: $color-gray-dark3;
                }
            }

            .triangle-3 {
                width: 10rem;
                position: absolute;
                top: 15%;
                left: 55%;
                fill: none;
                stroke: $color-green;

                @media only screen and (max-width: 700px) {
                    display: none;
                }
            }

            .charx-2 {
                width: 6rem;
                position: absolute;
                top: 5%;
                left: 5%;
                fill: $color-gray-dark3;
            }
        
        }
    }
}

@keyframes UpAndDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10vh);
    }
}